
/*Body*/
body {
    margin: 0;
    padding: 0;
    font-family: 'El Messiri',
        sans-serif;
/*Header*/        
}
#header {
    background-color: #FF6347;
    padding:20px;
    display: flex;
    
    
}
#logo {
   
  
    text-decoration: none;
    color: #000000;
}
 
/*Navigation Bar*/
#menu {
list-style: none;
margin-left: auto;


}

.list {
    display: flex;
    list-style: none;
    
   
    
}
.list li {
    margin-right: 20px;
    font-size: 20px;
    
}
.list a {
    text-decoration: none;
    color: #000000;
    
}
.list a:hover {
    text-decoration: underline;
}
    
/*Main Content*/
#main {
background-color: #008B8B;
}
/*Footer*/
footer {
    background-color: #708090;
}